
<!-- footer start -->
<section class="fixed bottom-2  align-middle w-full block">
  <div class="nav-bottom-container flex justify-center text-lg ">
<div class="bottom-nav flex w-[90%] justify-evenly items-center bg-gray-50 h-20 rounded-lg shadow-xl">
  <div class="nav-item"><i class="fa-solid fa-house" onclick="window.location.href = '/';"></i></div>
  <div class="nav-item"><i class="fa-solid fa-note-sticky" onclick="window.location.href = '/';"></i></div>
  <div class="nav-item bg-[#FFAD47] rounded-full w-14 h-14 flex justify-center py-4"><a href="newtodo"><i class="fa-solid fa-plus" ></i></a></div>
  <div class="nav-item" onclick="window.location.href = '/';"><i class="fa-solid fa-calendar-days"></i></div>
  <div class="nav-item" onclick="window.location.href = '/logout';"><i class="fa-solid fa-right-from-bracket"></i></div>
</div>
</div>
</section>
<!-- footer ends -->

</body>
</html>
